/* Name:Isabell Müller
     Matrikel:256034
     Datum:06.01.17
     Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und nicht diktiert. */

body {
	float: left;
	font-family: "Helvetica";
	color: black;
	font-size: 1em;
	width: 100%;
	margin-left: 4em;
}
#uebersicht {
	width:55%;
}
#bestellen{
	width:100%;
}
h1 {
	color: #0080c0;
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}

input:invalid {
	background: #80ffff;
}

label::after {
	display: block;
}

input {
	margin: 0.5em;
}

button {
	background-color: #0000a0;
	color: white;
    padding: 0.5em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin: 0.02em;
    cursor: pointer;
}
#daten input {
	display: block;
	height: 10%;
	width: 15%;
}

#zusammenfassung {
	position: fixed;
	right: 0em;
	top: 0em;
	color: white;
	padding: 1em;
	border: 0.3em white;
}

.wk {
	font-size: 1.2em;
}
