

@media screen and (min-width: 1024px) {
		
#ShipHitBox {
	width: 14vw;
	height: 8vw;
	position: absolute;
	top: 0vw;
	left: 34vw;
}

#NetHitBox {
	width: 20vw;
	height: 10vw;
	position: absolute;
	top: -3vw;
	left: -3vw;
	transform: rotate(-30deg);
}

#RockHitBox {
	width: 20vw;
	height: 13vw;
	position: absolute;
	top: 55vw;
	left: 42vw;
}

#RiffHitBox {
	width: 46vw;
	height: 20vw;
	position: absolute;
	top: 54vw;
	left: -6vw;
	transform: rotate(26deg);
}}